# Configurações gerais 
DOMAIN="
NAME_NETWORK="web"

# Configurações do container: traefik
EMAIL_USER=
PATH_TRAEFIK="traefik"

# Configurações do container: mysql/phpmyadmin
PATH_PHPMYADMIN=
MYSQL_ROOT_PASSWORD=
DB_HOST=